body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

main {
	/* border: 4px solid red; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 55%;
	height: 350px;
	border-radius: 20px;
	background: rgba(238, 238, 238, 0.3);
	box-shadow: 2px 5px 30px 1px #1b1b1b;
	backdrop-filter: blur(10px);
	padding: 20px;

}

/* @media screen and (min-width: 650px) { */
@media (max-device-width:650px) {
	main {
		width: 85%;
		height: 80%;
	}
}



form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* width: 100%; */
	/* height: 100%; */
	
}

form>input {
	width: 100%;
	height: 40px;
	border-radius: 20px;
	border: 1px solid #0f0f0f;
	padding: 0 10px;
	margin-bottom: 10px;

}
.title{
	color: rgb(0, 0, 0);
	-webkit-text-stroke: 1px rgb(255, 255, 255);

}
form>button {
	width: 100%;
	height: 40px;
	border-radius: 20px;
	border: 1px solid #1f1f1f;

	/* color: #1b1b1b;
	background-color: white; */
	font-size: 1.2rem;
	/* font-weight: bold; */
	cursor: pointer;
}

#age {
	padding: 0 10px;
	margin-bottom: 10px;
	-webkit-text-stroke:1px rgb(255, 255, 255);
}

.timer {
	display: flex;
	flex-direction: row;
}

.timer>div {
	padding-left: 5px;
}


@media (prefers-color-scheme: dark) {
	main {
		background: rgba(0, 0, 0, 0.3);
	}
	form>input {
		background: #1b1b1b;
		color: #fff;
		border: 1px solid #fcfcfc;
	}
	form>button {
		background: #1b1b1b;
		color: #fff;
		border: 1px solid #f3f3f3;
	}
}
body {
	background-image: url('https://source.unsplash.com/1600x900/?birthday');
}